################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GML/.vs
/GML/GML/x64/
/GML/x64/
/GML/GML_Library/x64/
/GML/GML_WPF/bin/
/GML/GML_WPF/obj/
